body {
  padding-top: 10px;
  background: #fff;
  background: url(/images/bkg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 40px;
}

body.logged-out {
  background: white;
}
.jumbotron {
  border: 1px #bbb solid;
}

.header {
  font-family:; "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #888;
  border-bottom: 6px #ddd solid;
  padding-bottom: 4px;
}

.narrow {
  background: #fff;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
}

.footer {
  padding: 0;
  margin-top: 20px;
  text-align: center;
  color: #999;
  background-color: #f9f9f9;
  border-top: 1px #e5e5e5 solid;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer .nav {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;  
}

.footer .credits {
  padding: 10px;
  font-size: 12px;
}


.jumbotron .tagline {
  font-size: 23px;
}
.jumbotron p {
  font-size: 18px;
}

.subscription-status {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px #ccc solid;
}


/**
 * Bootstrap callouts
 */

/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}

.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}

.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

.bs-callout-success {
  background-color: #dff0d8;
  border-color: #b5dca5;
}

.bs-callout-danger h4 {
  color: #B94A48;
}

.bs-callout-warning h4 {
  color: #C09853;
}

.bs-callout-info h4 {
  color: #3A87AD;
}

.bs-callout-success h4 {
  color: #3c763d;
}

.bs-callout.pre {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  word-break: break-all;
  word-wrap: break-word;
}


@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.9, 0.9); opacity: 1.0;}
    50% {opacity: 0.0;}
    100% {-webkit-transform: scale(1.1, 1.1); opacity: 1.0;}
}
